body {
    background-color: #000;
}

.sadebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sadebar_navigation .logo-spotify {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.sadebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.logo-spotify img {
    width: 80px;
}

.sadebar nav ul {
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sadebar ul li {
    padding: 10px 0px;
}

.sadebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Dm Sans', sans-serif;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library_content {
    display: flex;
    justify-content: space-between;
}

.library .library-button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;

    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    
}

.library .library-button .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library_content .fa-plus {
    margin: 20px 10px;
}